//main page setup
$main-font-size : 62.5%;
$mainPage-background:rgb(34, 34, 34);
//bullet colors
$color-bullet-before: rgba(187, 187, 187, 0.965);
$color-bullet-after: rgb(186, 85, 85);


//padding
$small-padding : 3rem;
$medium-padding:6rem;
$big-padding:9rem;
//margin
$small-margin : 3rem;
$medium-margin:6rem;
$big-margin:9rem;
//font-sizes
$medium-fontSize:3rem;